body {
    background-color: black;
}

#quote-box {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 300px;
    background-color: white;
}

#new-quote {
    text-align: center;
    font-size: 1.2em;
    height: 40px;
    width: 30%;
    background-color: aqua;
    border: none;
    margin: 10px;
    float: right;
}

.post-button {
    display: inline-block;
    padding: 0px;
    padding-top: 5px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 40px;
    width: 60px;
    background-color: aqua;
    margin: 10px;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    #new-quote {
        width: 90%;
        float: none;
    }
    .post-button {
        width: 90%;
    }
    #quote-box {
        width: 100%;
    }
}

@media only screen and (max-width: 280px) {
    #new-quote {
        width: 90%;
        height: 30%;
        float: none;
    }
    .post-button {
        width: 90%;
    }
    #quote-box {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 600px) {
    #quote-box {
        top: 130px;
    }
}